# bloop and metals
.bloop
.bsp
.metals

# vs code
.vscode

# sbt
# (may want to keep parts of 'project')
bin/
project/project
project/target
target/
build/

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
